<h1>Delete Testimonial</h1>
<hr>
<label><h5>Title</h5></label>
<p class="form-control">
  <%= @testimonial.title %>
</p>
<label><h5>Body</h5></label>
<p class="form-control">
  <%= @testimonial.body %>
</p>

<div class="btnblock">
  <%= link_to "Edit Testimonial", edit_admin_testimonial_path, class: "btn btn-primary" %>
  <%= button_to "Delete Testimonial", admin_testimonial_path, class: "btn btn-danger deletebtn", method: :delete, data: { confirm: "Please confirm you want to delete this testimonial" } %>
</div>