body {
  background: #E5D9C1;
}

.btnblock {
  display: flex;
}

.deletebtn {
  margin: 0 1em;
}

.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

// font styling

.navbar {
  a {
    color: #E5D9C1;
    font-size: 3vh;
  }
  a:hover {
    color: #fff;
  }

  .navbar-brand {
    a {
      font-size: 4vh;
    }
  }
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

// main container custom admin panel

.flash {
  background: #E05050;
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #E5D9C1;
}

.c-container {
  margin-top: 2em;
  
  hr {
    width: 4em;
    display: block;
    height: 2px;
    border: 0;
    border-top: 4px solid #343A40;
    margin: .5em 0 2em 0;
  }
  
  table {
    td {
      border-color: #343A40;
    }
  }
}

input,
textarea,
label {
  margin: 0;
  padding: 0;
}

// add style for mobile and tablet view

.btn {
  font-size: 3vh;
  margin-right: .5em;
}

.btn-home {
  margin-bottom: .5em;
}

h1 {
  font-size: 5vh;
}

h5 {
  font-size: 3vh;
}

input {
  font-size: 2.5vh;
}

.form-control {
  font-size: 2.5vh;
}

.navbar-toggler {
  font-size: 3vh;
}

.c-container {
  margin: 0 auto;
  padding: 2em .5em;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .c-container {
    width: 95%;
  }
}

@media screen and (min-width: 1000px) {
  .c-container {
    max-width: 1000px;
  }
}